* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #383535;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(252, 252, 250);
    padding: 30px;
    width: 1000px;
    height: fit-content;    
    border: 5px solid #030303;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #030303;
}

.container_1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container_2 {
    background-color: black;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
}

h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    color: #383535;
}

h3 {
    color: #fafafa;
    padding-top: 20px;
}

input {
    padding: 15px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
}

.tung {
    width: 300px;
}

.Enviar {
    background-color: #030303;
    color: #fafafa;
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 90px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.error {
    display: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px;
    background-color: #dd4343;
    border-radius: 10px;
}

.message {
    color: rgb(223, 255, 181);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}